/** @format */

.container {
  padding: 40px 60px;
  width: 90vw;
  margin: 170px auto 100px auto;
  max-width: 998px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-image: url("/doodles/2.jpg");
  background-size: cover;
  background-position: center center;
}

.container h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 35px;
  color: var(--primary-text-color);
}

.inputField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border: 1px solid #d4d5d9;
  background-color: var(--white-color);
  margin-bottom: 25px;
}

.container input,
.container textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 20px;
  font-size: 15px;
}

.container textarea {
  resize: vertical;
  height: 150px;
}

.container button {
  padding: 20px 60px;
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--white-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin: auto;
  display: block;
  margin-top: 30px;
}

.errorMessage {
  color: var(--error-color) !important;
}

.group {
  display: flex;
  gap: 20px;
}

.group div {
  flex: 1;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 999;
}

.modal {
  width: 90vw;
  max-width: 400px;
  margin: auto;
  background-color: var(--white-color);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal p {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttonContainer button {
  margin-left: 15px;
  padding: 12px 25px;
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--white-color);
}
