/** @format */

.introContainer {
  width: 100%;
  display: grid;
  place-items: center;
  margin: 150px auto;
  position: relative;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 1268px;
  margin: auto;
}

.innerContainer div {
  flex: 1;
}

.rightContainer {
  margin-left: 100px;
}

.rightContainer .bgImage {
  position: absolute;
  top: -40px;
  right: 100px;
}

.rightContainer .bgImage2 {
  position: absolute;
  bottom: -20px;
  left: 750px;
}

.rightContainer .bgImage3 {
  position: absolute;
  bottom: -20px;
  right: 120px;
}

.rightContainer h2 {
  color: var(--primary-text-color);
  font-size: 40px;
}

.rightContainer p {
  color: var(--secondary-text-color);
  font-size: 20px;
  margin: 30px 0;
  width: 500px;
  text-align: justify;
  margin-right: 0;
}

.rightContainer button {
  color: var(--white-color);
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 20px 40px;
  transform: perspective(1px) translateZ(0px);
  transition: 0.3s;
  vertical-align: middle;
  background: var(--secondary-bg-color);
  border-radius: 0;
  border: none;
  cursor: pointer;
}
