/** @format */

.registerContainer {
  width: 100%;
  height: 100vh;
  margin: auto;
}

.innerContainer {
  /* background-color: var(--white-color); */
  padding: 40px 60px;
  width: 90vw;
  margin: 100px auto;
  max-width: 888px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-image: url("/doodles/2.jpg");
  background-size: cover;
  background-position: center center;
}

.innerContainer h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 35px;
}

.inputField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border: 1px solid #d4d5d9;
  margin-bottom: 25px;
}

.innerContainer input,
.innerContainer textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 20px;
  font-size: 15px;
}

.innerContainer textarea {
  resize: vertical;
  height: 150px;
}

.innerContainer button {
  padding: 20px 60px;
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--white-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin: auto;
  display: block;
  margin-top: 30px;
}

.errorMessage {
  color: var(--error-color) !important;
  margin-bottom: 10px !important;
}

.group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
