/** @format */

.container {
  width: 90vw;
  max-width: 1268px;
  margin: 100px auto;
}

.container div {
  margin-bottom: 40px;
}

.container h2 {
  color: var(--primary-text-color);
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  text-align: justify;
}

.container p {
  text-align: justify;
}
